// Errors

#content .error {

  background-color: $light-grey;
  margin: 0 10px;

  p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 1.5em 10px;
    text-align: center;
  }

}
