// Header

#header {
  background-image: url($assets-background-image);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 500px 125px;
  height: 70px;
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

#masthead {

  cursor: pointer;
  position: relative;

  h1 {
    background-image: url($assets-header-image);
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 500px 60px;
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li:first-child {
    left: 0;
    position: absolute;
    top: 24px;
  }

  li:last-child {
    position: absolute;
    right: 0;
    top: 24px;
  }

  a {
    color: $off-white;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    text-decoration: none;
  }

}

.menu-link a:before,
.search-link a:before {
  color: $icon-text-color-light;
}

#welcome {

  display: none;
  height: 52px;
  position: relative;
  width: 100%;
  z-index: 200;

  .background {
    background-color: $white;
    opacity: 0.8;
  }

  .background,
  .banner {
    height: 45px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 300px;
  }

}
