// Last updated date

#notice {

  border-top: solid 1px $text-border-color;
  display: none;

  p {
    color: $text-color-minor;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 18px 12px 15px 12px;
  }

}

.info.menu #notice {
  display: block;
}
