// Lists

.list {

  background-color: $white;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    border-top: solid 1px $text-border-color;
    color: $link-color;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 12px 10px;
    -webkit-tap-highlight-color: $link-tap-background-color;
    text-decoration: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    user-select: none;
  }

  .title {
    display: block;
    font-weight: 400;
  }

  .loc {
    color: $off-black;
    display: block;
    font-size: 16px;
    font-style: normal;
    margin: 4px 0 0 0;
  }

  .icon:before {
    color: $icon-text-color;
  }

}

.section-head,
.text-head {
  background-color: $white;
  box-sizing: border-box;
  color: $text-color;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  margin: 0;
  padding: 10px 12px 10px 10px;
  width: 100%;
}

.section-head {
  height: 52px;
  max-width: $max-width;
  position: fixed;
  top: 70px;
}

.subhead,
.menu-head {

  background-color: $subhead-background-color;
  border-bottom: solid 1px $subhead-border-color;
  color: $subhead-text-color;
  font-size: 16px;
  padding: 8px 12px 8px 10px;

  &:before {
    color: $icon-text-color-light;
  }

}

.subhead {
  cursor: pointer;
  position: sticky;
  top: 122px;
}

.collapsed {

  li {
    display: none;
  }

  .section-head {
    display: block;
  }

  .subhead {
    display: list-item;
    position: static;
  }

}

// Prevent wrapping of long titles.
.subhead,
.section-head,
.list .title,
.list .loc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Fix border crash between heads and first item in list.
.subhead + li a,
.menu-head + li a,
li:first-child a {
  border-top: 0;
}
