// Loading

$loading-background-color: #f1b752;
$loading-text-color: #333;

#loading {

  background-color: $loading-background-color;
  color: $loading-text-color;
  display: none;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;

  p {
    margin: 0;
    padding: 0.25em 0.5em;
  }

}

.loading #loading {
  display: block;
}

