// Search

$search-icon-text-color: #cdd2d6;
$search-terms-border-color: #cdd2d6;

.search {

  #app {
    margin-top: 175px;
  }

}

#search {

  background-color: $white;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  max-width: $max-width;
  padding: 0 12px 10px 12px;
  position: fixed;
  top: 122px;
  width: 100%;

  fieldset {
    position: relative;
  }

  .submit {
    position: absolute;
    visibility: hidden;
  }

}

#terms,
.tt-hint {
  appearance: none;
  background-color: $white;
  border: solid 1px $search-terms-border-color;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: $default-font-family;
  font-size: 16px;
  margin: 2px 0 0 0;
  outline: none;
  padding: 8px;
  width: 100%;
}

// Typeahead.js
// Adapted from http://stackoverflow.com/questions/20198247/

.twitter-typeahead {
  width: 100%;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  border-color: transparent;
  color: $dark-grey;
}

// used to be tt-dropdown-menu in older versions
.tt-menu {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
}

.tt-suggestion {

  line-height: 24px;
  overflow: hidden;
  padding: 3px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;

  p {
    margin: 0;
  }

  &:hover {
    background-color: lighten($button-border-color, 20%);
    color: $black;
    cursor: pointer;
  }

}
