// Text

.text {

  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0 15px 15px 10px;

  h3 {
    font-size: 1.2em;
    margin: 1em 0;
    padding: 0;
  }

  h4 {
    color: $text-color-minor;
    font-size: 1em;
    margin: 0.25em 0 0.5em 0;
    padding: 0;
  }

  p {
    margin: 1em 0;
    padding: 0;
  }

  ul {
    margin: 0 0 1em 0;
    padding: 0 1.5em;
  }

  .cal {
    font-weight: normal;
  }

  .loc {
    font-style: italic;
  }

  .title {
    font-size: 1em;
    margin-top: 0.25em;
  }

  .code {
    background-color: $light-grey;
    border-radius: 5px;
    padding: 3px 5px;
  }

}
