// Colors

$white: #fff;
$black: #000;
$hilite: #ffc;

$off-white: #f2e4b7;
$off-black: #555;
$dark-grey: #666;
$light-grey: #eee;

$text-color: #000;
$text-color-minor: #697580;
$text-color-hilite: #330;
$text-border-color: #ece3c6;

$link-color: #000;
$link-tap-background-color: rgba(236, 227, 198, 0.25);

$filter-tap-background-color: rgba(0, 0, 0, 0);

$header-background-color: #4b0532;

$subhead-text-color: $white;
$subhead-background-color: #113f5c;
$subhead-border-color: #16211f;

$warning-background-color: #fee;

$icon-text-color: #c76419;
$icon-text-color-light: #eda66f;

$button-border-color: #eda66f;
