// Blocks

html {
  background-color: $off-white;
}

body {
  background-color: $white;
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
